<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thedhakadigital.digibulk">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name="thedhakadigital.digibulk.activity.MainActivity" />

        <service
            android:name="thedhakadigital.digibulk.service.SmsBroadCastService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="thedhakadigital.digibulk.receiver.DeliverReceiver" />
        <receiver android:name="thedhakadigital.digibulk.receiver.SentReceiver" />
        <receiver android:name="thedhakadigital.digibulk.receiver.TaskFinishReceiver" />
        <receiver android:name="thedhakadigital.digibulk.receiver.StartServiceReciver" />
        <receiver android:name="thedhakadigital.digibulk.receiver.EndServiceReceiver" />

        <activity
            android:name="thedhakadigital.digibulk.activity.UndeliveredList"
            android:label="@string/title_activity_undelivered_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="thedhakadigital.digibulk.activity.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="thedhakadigital.digibulk.activity.TaskFinished"
            android:label="Task Finished"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name="thedhakadigital.digibulk.activity.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="thedhakadigital.digibulk.activity.SaveMesseges"
            android:label="@string/title_activity_save_messeges"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="thedhakadigital.digibulk.activity.AllUndeliveredList"
            android:label="@string/title_activity_all_undelivered_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="thedhakadigital.digibulk.activity.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>